$gs-infra-root: '../..' !default;
$fonts: '#{$gs-infra-root}/assets/fonts' !default;

/* glyph icons */

@font-face {
    font-family: 'gigaspaces';
    src: url('#{$fonts}/gigaspaces/fonts/gigaspaces.eot'); /* IE9 Compat Modes */
    src: url('#{$fonts}/gigaspaces/fonts/gigaspaces.woff') format('woff'), /* Modern Browsers */ url('#{$fonts}/gigaspaces/fonts/gigaspaces.ttf') format('truetype'); /* Safari, Android, iOS */
}

/* glyph icon mapping */

.topology-glyph:after {
    font-size: 20px;
    font-family: 'gigaspaces';
    font-style: normal;
}

.topology-glyph {
    &.app-module:after {
        content: '\e616';
    }
    &.load-balancer:after {
        content: '\e617';
    }
    &.db-server:after {
        content: '\e619';
    }
    &.floating-ip:after,
    &.port:after {
        content: '\e61a';
    }
    &.host:after {
        content: '\e61b';
    }
    &.message-bus-server:after {
        content: '\e61c';
    }
    &.subnet:after {
        content: '\e61d';
    }
    &.app-server:after {
        content: '\e61e';
    }
    &.security-server:after {
        content: '\e61f';
    }
    &.security-group:after {
        content: '\e61f';
    }
    &.volume:after {
        content: '\e620';
    }
    &.tier:after,
    &.cluster:after {
        content: '\e621';
    }
    &.web-server:after {
        content: '\e622';
    }
    &.component:after {
        content: '\e631';
    }
    &.shared-resource:after {
        content: '\e632';
    }
    &.edit-node:after {
        content: '\e623';
    }
    &.node-details:after {
        content: '\e614';
    }
    &.blob-storage:after {
        content: '\e625';
    }
    &.switch:after {
        content: '\e62f';
    }
    &.router:after {
        content: '\e618';
    }
    &.network:after {
        content: '\e62f';
    }
}
