.multiSelectMenu {
    position: relative;
    display: inline-block;
    overflow: hidden;
    min-width: 200px;
    padding:0;
    *:focus {
        outline: 0;
    }
    div.button {
        display: block;
        width: 99%;
        border: 1px solid #ccc;
        background-position: right 10px center;
        background-repeat: no-repeat;
        border-radius: 3px;
        cursor: pointer;
        > label {
            display: block;
            width: 100%;
            font-weight: normal;
            margin: 0 28px 0 0;
            padding-left: 5px;
            cursor: pointer;
            > input {
                position: relative;
                display: none;
                border: 0px;
                background: transparent;
                z-index: 2;
                &.reflection {
                    position: absolute;
                    top: 6px;
                    left: 11px;
                    z-index: 1;
                    color: #ccc;
                }
            }
        }
    }
    ul {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        max-height: 250px;
        overflow-y: auto;
        background-color: #ffffff;
        border: 1px solid #ccc;
        list-style-type: none;
        padding: 0px;
        z-index: 1000;
        > li {
            background-color: transparent;
            padding: 5px 10px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 250px;
            &.markNav {
                background-color: #0064cd;
                color: #fff;
            }
            > input[type=checkbox] {
                vertical-align: sub;
                margin: 0px 5px 0 -2px;
            }
        }
        > li:hover {
            background-color: #0064cd;
            color: #fff;
            cursor: pointer;
        }
    }
    &.open {
        overflow: visible;
        height: auto;
        ul {
            top: calc(100% - 1px);
        }
        div.button {
            border-radius: 3px 3px 0 0;
            background-color: #fff;
            cursor: default;
            > label {
                > t {
                    display: none;
                }
                > input {
                    display: block;
                }
            }
        }
    }
    .msArrow {
        position: absolute;
        width: 30px;
        height: 33px;
        top: 0px;
        right: 0px;
        border-left: 1px solid #cccccc;
        cursor: pointer;
        &:after {
            content: "";
            position: relative;
            left: 10px;
            bottom: -14px;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #cccccc;
        }
    }
}
