@font-face {
  font-family: 'Topology';
  src: url('../../assets/fonts/glyphs/Topology.ttf');
}
@font-face {
  font-family: 'Cosmo';
  src: url('../../assets/fonts/glyphs/Cosmo.ttf');
}
.glyphs-topology {
  font-family: 'Topology';
}
.glyphs-cosmo {
  font-family: 'Cosmo';
}
