@import "compass_twitter_bootstrap";

/*
colors:
  #edf7fc
  #78a8c9
  #6098bf
  #5086ab
  #0a66a3
  #007cbf
*/

/* reset */
p {
  margin: 0;
  padding: 0;
}

/* helpers */
.right-text {
  text-align: right;
}

/* baseline */
body {
  font: 15px/1.4 tahoma, arial, sans-serif;
  color: #555;
  background-color: #fff;
}
h1,h2,h3,h4,h5,h6 {
  margin: .8em 0 .2em;
  color: #0a66a3;
}
dl {
  dt {
    margin: .4em 0;
    font-weight: normal;
    font-style: italic;
    color: #0a66a3;
    code {
      padding: .3em .4em .2em;
      font-style: normal;
      color: #0a66a3;
    }
  }
  dd {
    margin: .4em 0 .8em 1.2em;
  }
}

/* custom */
header {
  height: 180px;
  padding: 1.2em;
  text-align: center;
  background-color: #0a66a3;
  h1 {
    font-size: 3.5em;
    margin-bottom: .4em;
    color: #fff;
  }
  h2 {
    font-size: 1.1em;
    color: #edf7fc;
  }
}
footer {
  height: 60px;
  padding: 1.2em;
  color: #edf7fc;
  background-color: #78a8c9;
}
.getting-started {
  padding: .4em 0 2em;
  color: #0a66a3;
  background-color: #edf7fc;
  box-shadow: 0 0 16px #555;
  h3 {
    font-size: 1.1em;
  }
}
.component {
  padding-top: 1em;
  h3+hr {
    margin-top: 0;
  }
  .controls {
    label {
      width: 30%;
      margin-right: 1em;
      line-height: 2;
      clear: left;
    }
    label, label+input {
      float: left;
    }
    input[type='number'] {
      width: 80px;
    }
  }
}

pre.codeblock {
  overflow: auto;
  background-color: #fafafa;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.tab-pane {
  .codeblock {
    height: 140px;
  }
}
