.multiSelectMenu {
    position: relative;
    display: inline-block;
    *:focus {
        outline: 0;
    }
    div.button {
        display: block;
        width: 100%;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        background-position: right 10px center;
        background-repeat: no-repeat;
        border-radius: 3px;
        cursor: pointer;
        > label {
            font-weight: normal;
            margin: 0px;
            padding: 5px 10px;
            cursor: pointer;
            > input {
                position: relative;
                display: none;
                border: 0px;
                background: transparent;
                z-index: 2;
                &.reflection {
                    position: absolute;
                    top: 6px;
                    left: 11px;
                    z-index: 1;
                    color: #ccc;
                }
            }
        }
    }
    ul {
        display: none;
        position: absolute;
        top: calc(100% - 1px);
        left: 0;
        width: 100%;
        max-height: 250px;
        overflow-y: auto;
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        list-style-type: none;
        padding: 0px;
        z-index: 1000;
        > li {
            background-color: transparent;
            padding: 5px 10px;
            &.markNav {
                background-color: #0064cd;
                color: #fff;
            }
            > input[type=checkbox] {
                vertical-align: sub;
                margin: 0px 5px 0 -2px;
            }
        }
        > li:hover {
            background-color: #0064cd;
            color: #fff;
            cursor: pointer;
        }
    }
    &.open {
        ul {
            display: block;
        }
        div.button {
            border-radius: 3px 3px 0 0;
            background-color: #fff;
            cursor: default;
            > label {
                > t {
                    display: none;
                }
                > input {
                    display: block;
                }
            }
        }
    }
}