$topologyColor1: #136e9d;
$topologyColor2: #3aaeda;
$topologyColor3: #66a2c5;
$topologyColor4: #555869;
$connectionColor: #858585;

svg {
  .translucent {
    fill: white;
    opacity: 0;
    fill-opacity: 0;
    stroke-opacity: 0;
  }
  .node {
    .container {
      fill: white;
      fill-opacity: 0;
      stroke-width: 2px;
    }
    .heading {
      stroke-width: 0;
    }
    .status-circle {
      fill: none;
      stroke: white;
      stroke-width: 2px;
    }
    .topology-glyph {
      font-family: Topology;
    }
    .status-glyph {
      fill: white;
      font-size: 40px;
    }
    .action-glyph {
      fill: #333333;
      font-size: 30px;
    }
    .node-label {
      font-size: 18px;
      font-family: OpenSansRegular, Arial, sans-serif;
    }
    .actions {
      * {
        cursor: pointer;
      }
      rect,
      path.separator {
        stroke: #e6e6e6;
        stroke-width: 2px;
      }
      rect {
        fill: #fafafa;
      }
    }
    &.network {
      .container,
      .heading {
        fill: #f1f1f1;
      }
      .node-label {
        fill: #9f9d9d;
      }
      .status-circle {
        fill: #dddddd;
      }
    }
    &.tier {
      .container,
      .heading {
        fill: #eaeaea;
      }
      .node-label {
        fill: #939393;
      }
      .status-circle {
        fill: #bebebe;
      }
    }
    &.host {
      .container {
        stroke: $topologyColor1;
      }
      .heading,
      .status-circle {
        fill: $topologyColor1;
      }
      .node-label {
        fill: white;
      }
    }
    &.db-server,
    &.web-server,
    &.middleware-server {
      .container {
        stroke: $topologyColor2;
      }
      .heading,
      .status-circle {
        fill: $topologyColor2;
      }
      .node-label {
        fill: white;
      }
    }
    &.app-module {
      .status-circle {
        fill: $topologyColor3;
      }
      .node-label {
        fill: $topologyColor4;
      }
    }
  }
  .edge {
    path {
      fill: none;
      stroke: $connectionColor;
      stroke-width: 4px;
      stroke-opacity: 0.3;
    }
  }
}
