
$topologyColor1: #136e9d;

svg {
  .container {
    fill: #f6f6f6;
    stroke: $topologyColor1;
    stroke-width: 2;
  }
  .heading {
    fill: $topologyColor1;
    stroke-width: 0;
  }
  .circle {
    fill: $topologyColor1;
    stroke: white;
    stroke-width: 2;
  }
  .circle-text {
    fill: white;
    font-size: 40px;
    font-family: Topology;
  }
  .heading-text {
    fill: white;
    font-size: 18px;
    font-family: OpenSansRegular, Arial, sans-serif;
  }
}
